*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    font-size: '1.6rem';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main{
    
    max-width: 82rem;
    max-height: 33rem;
    display: flex;   
    gap: 10rem;
}

#timer{
    font-family: 'Roboto', sans-serif;
    font-size: 11rem;
    display: flex;
    gap: 1rem;
}

#controls{
    display: flex;
    gap: 3rem;
    justify-content:space-around;
}

#controls svg:hover path {
    fill: #02799D;
  }

button{
   background:none;
   border: none;


}

.container-timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.container-figures{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 32rem;
    height: 33rem;
    align-items: center;
}


.container-figures img{
    background-color: #E1E1E6;
    border-radius: 5px;
    padding-top: 10px;
    border: none;
    padding: 4rem;
    border-radius: 2.4rem;

}

.card:hover {
    background-color:#02799D ;
}

.container-figures :hover path{
    fill: white;
}

.card{
    background-color: #E1E1E6;
    border-radius: .4rem;
    width: fit-content;
    padding: 4rem;
}








